APP_ENV=development

STORAGE=local

# Local onde a pasta Data_PyPAH está localizada
PYPAH_DATA_ROOT=/home/seu_usuario/Projetos/Data_PyPAH   


# Nome do serviço no docker-compose (rede interna do Docker)
API_URL=http://pypah-api:8000

GROQ_API_KEY=...