# Ambientes virtuais
venv_lin/
venv_win/
venv/
.venv/
venv_global

# Cache Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente
.env

# Dados (ETL / SIASUS)
dados_sia/
db/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# SO / Editor
.DS_Store
.vscode/

/Streamlit/teste.ipynb

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Arquivos de teste
ETL/ingestao_bronze.py
ETL/ref.py